{% extends 'layout/no-side-bar.html' %}

{% block title %} Agenda {% endblock %}

{% load i18n %}

{% load static %}

{% block content %}


<div class="dm-page-content">
    <div class="container-fluid">
        <div class="row calendar-grid justify-content-center">
            <div class="col-md-12">
                <div class="d-flex justify-content-end align-items-center mb-2">
                    <div class="col-md-7 offset-md-2"></div>
                    <label for="customDateField" class="me-2">Pesquisar:</label>
                    <input type="text" class="form-control ih-medium ip-gray radius b-light me-2" id="customDateField" placeholder="01/01/2000">
                    <button type="button" class="btn btn-default btn-squared btn-primary">Buscar</button>
                  </div>
                  
                <div class="col-md-12">
                    <div class="card card-default card-md mb-4">
                        <div class="card-body">
                            <div id='calendario'></div>
                            <div class="dm-badge-text d-inline">
                                <span class="badge-dot dot-warning me-1"></span>
                                <span>Pré Reserva</span>
                            </div>
                            <div class="ms-2 dm-badge-text d-inline">
                                <span class="badge-dot dot-danger me-1"></span>
                                <span>Ocupado</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="reservados" value="{{ reservados }}">
<input type="hidden" id="ocupados" value="{{ ocupados }}">

<script src="{% static 'js/plugins/fullcalendar@5.2.0.js' %}"></script>
<script src="{% static 'js/plugins/moment.js' %}"></script>

<script>
    const dateInput = document.getElementById('customDateField');

    dateInput.addEventListener('input', function () {
        const value = dateInput.value.replace(/\D/g, '');
        
        if (value.length <= 8) {
        dateInput.value = value
            .replace(/(\d{2})(\d)/, '$1/$2')
            .replace(/(\d{2})(\d)/, '$1/$2');
        } else {
        dateInput.value = value.slice(0, 8);
        }
    });
    const reservados = document.getElementById("reservados").value
    const ocupados = document.getElementById("ocupados").value

    let reservado = {
        id: 1,
        events: JSON.parse(reservados),
        className: "red",
        textColor: "#FFF",
      };
      
      let ocupado = {
        id: 4,
        events: JSON.parse(ocupados),
        className: "warning",
        textColor: 'black'
      };
    
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendario');
        var today = document.getElementsByClassName('fc-today-button');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            locale: 'pt-br',
            customButtons: {
                Search: {
                  text: 'Buscar',
                  click: function() {
                    const dataSelecionada = document.getElementById('customDateField').value;
                    const parts = dataSelecionada.split('/');
    
                    if (parts.length === 3) {
                        const day = parts[0];
                        const month = parts[1];
                        const year = parts[2];
                        
                        if (!isNaN(day) && !isNaN(month) && !isNaN(year) && day >= 1 && day <= 31 && month >= 1 && month <= 12) {
                            const convertedDate = `${year}-${month}-${day}`;
                            if (convertedDate) {
                                calendar.gotoDate(convertedDate);
                            }
                        }
                    }
                  }
                },
              },
            headerToolbar: {
                left: "today,prev",
                center: "title",
                right: "next",
            },
            buttonText: {
                today: "Hoje",
            },
            listDayFormat: true,
            allDaySlot: false,
            editable: true,
            initialView: "dayGridMonth",
            height: 'auto',
            eventSources: [reservado, ocupado],
        });
        calendar.render(); // Renderiza o calendário no elemento especificado
        
        document.addEventListener('click', function() {
            const dataSelecionada = document.getElementById('customDateField').value;
            const parts = dataSelecionada.split('/');
        
            if (parts.length === 3) {
                const day = parts[0];
                const month = parts[1];
                const year = parts[2];
                
                if (!isNaN(day) && !isNaN(month) && !isNaN(year) && day >= 1 && day <= 31 && month >= 1 && month <= 12) {
                    const convertedDate = `${year}-${month}-${day}`;
                    if (convertedDate) {
                        calendar.gotoDate(convertedDate);
                    }
                }
            }       
        });
    });

</script>
{% endblock %}